body{
    margin: 0;
    font-family: 'Ysabeau Office', sans-serif;
    background-image: url('../images/paper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top{
    font-size: 25px;
}

h1, h2, h3{
    padding: 0 2rem;
}

p1{
    position: relative;
    left: 3rem;
}

.intro{
    padding: 0 3rem;
    max-width: 1300px;
}

hr{
    border: 1px solid;
}

.f-container{
    background-color: #333;
    color: wheat;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.f-list{
    display:flex;
    align-items:center;
    list-style: none;
    text-align: center;
}

.bottom-images{
    display: flex;
    justify-content: center;
}

.history{
    width: 500px;
}
img.history{
    transition: scale 0.25s;
}

iframe.history{
    width: 500px;
}

img.history:hover{
    scale: 105%;
}

figure{
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
}

.col{
    max-width: 600px;
}

/*mobile*/
@media screen and (max-width:900px){
    html, body{
        margin: 0;
        padding: 0;
    }
    .bottom-images img{
        scale: 60%;
    }
    .intro{
        font-weight: 600;
        width: 250px;
        margin: auto;

    }
    .history{
        width: 300px;
    }
    iframe.history{
        width: 250px;
    }
    .row{
        display: block;
    }

    
}