
html, body { margin: 0; padding: 0; } 

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau Office', sans-serif;
    /* background-image: url('../images/paper.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.logo{
    height: 40px;
    scale: 1;
    transition: scale 0.25s;
}
.logo:hover{
    scale:1.1
}

nav {
    box-sizing:border-box;
    font-family:Helvetica, sans-serif
}

.navbar {
    background: #333333;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.fa-gem{
    margin-right: 0.5rem
}

.navbar__menu{
    display:flex;
    align-items:center;
    list-style: none;
    text-align: center;
}

.nav-item{
    height:40px;
}

.navbar__links{
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-size: 20px;
    transition: background-color 0.25s;
}

.headbox{
    background-image: url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
}
.banner{
    width: 2560px;
}

.dropdown .drop {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    height: 40px;
    padding: 0 1rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display:flex;
    align-items: center;
    transition: background-color 0.25s;
    
}

.drop-content{
    display:none;
    position: absolute;
    background-color: #696969;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drop-content a{
    float:none;
    color: #fff;
    padding: 0;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    text-align: left;
}

.drop-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .drop-content{
    display: block;
}

.nav-item a:hover, .dropdown:hover .drop:hover{
    background-color: rgb(0, 30, 94);
    color: white;
}

.f-container{
    background-color: #333;
    color: wheat;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.f-list{
    display:flex;
    align-items:center;
    list-style: none;
    text-align: center;
}

/*mobile*/
@media screen and (max-width:900px){
    .nav-item{
        height: 40px;
    }
    .logo{
        height: 40px;
    }
    .navbar {
        background: #333333;
        height: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 0.5rem;
        position: sticky;
        top:0;
        z-index: 999;
    }
    .navbar__links{
        font-size: 15px;
        padding: 0;
    }
    .dropdown .drop {
        font-size: 15px;
        height: 40px;
        
    }
    .nav-container {
        height: 40px;
        padding: 0 0px;
        justify-content: center;
    }
    .drop-content{
        min-width: 40px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .drop-content a{
        float:none;
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 0.5rem 0.2rem;
        text-align: left;
        font-size: 15px;
    }
    .f-list li{
        font-size: 15px;
    }

    
}