
body{
    margin: 0;
    font-family: 'Ysabeau Office', sans-serif;
    background-image: url('../images/paper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top{
    font-size: 25px;
}

h1, h2, h3{
    padding: 0 2rem;
}

p1{
    position: relative;
    left: 3rem;
}

.intro{
    padding: 0 3rem;
    max-width: 1300px;
}

hr{
    border: 1px solid;
}

.bottom-images{
    display: flex;
    justify-content: center;
}

.gallery{
    height: 300px;
}
img.gallery{
    transition: scale 0.25s;
}

iframe.gallery{
    width: 500px;
}

img.gallery:hover{
    scale: 105%;
}

figure{
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
}

.col{
    max-width: 600px;
}

/*mobile*/
@media screen and (max-width:900px){
    html, body{
        margin: 0;
        padding: 0;
    }
    .bottom-images img{
        scale: 60%;
    }
    .intro{
        font-weight: 600;
        width: 250px;
        margin: auto;

    }
    
    .gallery{
        height: 100%;
        width: 90%;
    }
    iframe.gallery{
        height:100%;
        width: 90%;
    }
    .row{
        display: block;
    }

    
}