
html, body { margin: 0; padding: 0; } 

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau Office', sans-serif;
    /* background-image: url('../images/paper.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.drawings{
    align-items: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
}

h1, h2, h3{
    padding: 0 2rem;
}

p1{
    position: relative;
    left: 3rem;
}

.intro{
    font-size: 20px;
    font-weight: 600;
}

hr{
    border: 1px solid;
}

.bottom-images{
    display: flex;
    justify-content: center;
}

@keyframes fadein {
    0%{
        opacity: 0%;
        scale: 80%;
    }
    100%{
        opacity: 100%;
        scale:100%;
    }
}

.hi{
    text-align: center;
    font-size: 2rem;
    padding: 10px 0;
    animation: 1s ease-in 0s 1 fadein;
    scale: 100%;
}

.credit{
    text-align: center;
}
.credit a {
    color: #333333;
    text-decoration: none;
}

.socials{
    display: flex;
    justify-content: center;
}
.soc-icon{
    padding: 0 1rem;
    height: 40px;
    transition: scale 0.25s;
}
.soc-icon:hover{
    scale: 120%;
}
.copy{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.portfolio-buttons{
    color:cadetblue;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-buttons button{
    font-family: 'Ysabeau Office', sans-serif;
    color: white;
    font-size: 5rem;
    background-image: url("https://i.imgur.com/y4Fesct.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10rem;
    aspect-ratio: 9/3;
    width: 100%;

}

/*mobile*/
@media screen and (max-width:900px){
    html, body{
        margin: 0;
        padding: 0;
    }
    .bottom-images img{
        scale: 90%;
    }
    .intro{
        font-weight: 600;
        width: 250px;
        margin: auto;

    }
    .f-list li{
        font-size: 15px;
    }
    .dropdown .drop {
        font-size: 15px;
        height: 40px;
        
    }
}